#subject-details {
    margin-top: 2rem;
}

.error-message,
.subject-name-error,
.text-danger {
    padding-top: 2px;
    padding-left: 3px;
    font-size: 11px;
    color: red;
}

.small {
    color: red;
    font-size: 12px;
    padding-left: 2px;
}

.btn-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

#first-page {
    padding: 5px 20px;
    border: none;
    /* background-color: rgb(29, 105, 40); */
    background-color: white;
    border-radius: 5px;
    color: white;
    text-align: center;
    transition: all .3s ease;
    position: absolute;
    top: 1rem;
    left: 2rem;
}

#first-page:hover {
    background-color: rgb(68, 151, 57);
}

#first-page img {
    width: 20px;
    /* color: white; */
}